
<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.description }}</h2>

  <a class="btn" href="{{ '/rates' | relative_url }}">Rates & availability</a>
  <a class="btn" href="{{ '/philosophy' | relative_url }}">Teaching Philsoophy</a>
  <a class="btn" href="{{ '/about' | relative_url }}">About</a>
  <a class="btn" href="{{ '/contact' | relative_url }}">Contact</a>
  <a class="btn" href="{{ '/calndar/' | relative_url }}">Calendar</a>
</header>

